---
- name: Deploy PostgreSQL container
  community.docker.docker_container:
    name: postgres
    image: postgres:14
    restart_policy: always
    env:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
